<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose House</title>
</head>

<body>
    <h1>Choose a House</h1>
    <form action="/last_added_documents" method="GET">
        <label for="house_name">House Name:</label>
        <select id="house_name" name="house_name" required>
            <option value="All_Houses">All Houses</option>
            <option value="house1">House 1</option>
            <option value="SDSXDASXASDSW">SDSXDASXASDSW</option>
            <option value="WWWWWWWWWWWWWWWWWWWW">WWWWWWWWWWWWWWWWWWWW</option>
            <!-- Add more options as needed -->
        </select>
        <button type="submit">Submit</button>
    </form>
</body>

</html>
